.container-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    justify-items: center;
    gap: 10px; 
    width: 50%;
    .mesa-item {
      background: rgba(0, 218, 211, 0.65);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      padding: 10px;
      text-align: center;
      width: 5rem;
      height: 5rem;
    }
}
}

